server {
  listen 80;
  {% if rails_app_enable_https %}
  server_name {{ rails_app_site }} {{ rails_app_site_aliases|join(' ') }};
  {% else %}
  server_name {{ rails_app_site_aliases|join(' ') }};
  {% endif %}

  rewrite ^ {{ 'https' if rails_app_enable_https == True else '$scheme' }}://{{  rails_app_site }}$request_uri? permanent;

  # solves http://stackoverflow.com/questions/17524396/400-bad-request-request-header-or-cookie-too-large
  large_client_header_buffers 4 16k;

}
